.copyright{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a{
    color: #444;
    padding: 10px;
    font-size: 21px;
}
.social svg{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 30px;
    height: 30px;
}